<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MasterFact.My.MySettings.conn" connectionString="Data Source=DESKTOP-09AROM6\SQLSERVER;Initial Catalog=tienda;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>